/* MAIN MENU */
.main_menu{
    position:absolute;
    left: 0;
    top: 0;
    width: 1280px;
    height: 720px;
    /*background-image: url("i_720/bg.png");
	*/
	background: #311122 none repeat scroll 0 0;
}

.main_menu_logo{
    position: absolute;
    left: 20px;
    top: 10px;
    width: 200px;
    height: 100px;
}

.main_menu_date{
    font-family: "Roboto", serif;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    text-shadow: rgba(0, 50, 80, 0.5) 1px 2px 0;
}

.main_menu_time{
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    margin-left: 12px;
    text-shadow: rgba(0, 50, 80, 0.5) 1px 2px 0;
    /*margin-right: 65px;*/
    font-family: "Roboto", sans-serif;
}

.main_menu_date_bar{
    position: absolute;
    width: 240px;
    top: 15px;
    right: 0;
    font-family: "Roboto", sans-serif;
    text-align: right;
    padding-right: 15px;
}

.mm_menu_hor{
    position: absolute;
    width: 1140px;
    height: 210px;
    bottom: -60px;
    padding: 0 70px 0 70px;
}

.mm_hor_left{
    position: absolute;
    width: 320px;
    height: 210px;
    bottom: -30px;
    left: -40px;
    background: url(i_720/mm_hor_left.png);
}

.mm_hor_right{
    position: absolute;
    width: 320px;
    height: 210px;
    bottom: -30px;
    right: -40px;
    background: url(i_720/mm_hor_right.png);
}

.menu_hor_cell{
    float: left;
    /*width: 360px;
	*/
    height: 210px;
    font: 24px "Roboto";
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    text-shadow: rgba(0, 50, 80, 0.5) 1px 2px 0;
}

.menu_hor_cell span{
    line-height: 42px;
}

.menu_hor_cell_act span{
    line-height: 42px;
}

.menu_hor_cell_act{
    float: left;
    width: 220px;
    height: 135px;
    font: 26px "Roboto";
    font-weight: bold;
    color: #fff;
    text-shadow: rgba(0, 50, 80, 0.5) 1px 2px 0;
    text-transform: uppercase;
    text-align: center;
    background: url(i_720/mm_hor_bg1.png) no-repeat;
    margin: 0 15px;
    padding: 0 15px;
}

.menu_hor_cell_img{
    width: 215px;
    /*height: 160px;
	*/
}

.mm_menu_vert_empty{
    position: absolute;
    background: url(i_720/mm_hor_bg2.png) no-repeat;
    width: 250px;
    height: 15px;
    bottom: 150px;
    left: 515px;
}

.mm_menu_vert{
    position: absolute;
    width: 250px;
    bottom: 150px;
    left: 515px;
}

.mm_menu_vert_bottom{
    height: 50px;
    width: 250px;
    background: url(i_720/mm_hor_bg3.png) bottom;
}

.mm_menu_vert_body{
    width: 250px;
    background: url(i_720/mm_hor_bg3.png) top;
    padding-top: 33px;
}

.mm_menu_vert_body .mm_vert_container div{
    /*height: 38px;
	*/
    /*width: 356px;
	*/
    font: 20px "Roboto";
    color: #ffffff;
    text-transform: uppercase;
    text-shadow:  rgba(0, 50, 80, 0.5) 1px 2px 0;
    background: url(i_720/mm_vert_cell.png) bottom left;
    /*margin-left: 14px;*/
    /*padding-left: 14px;
    padding-top: 8px;*/
    padding: 3px 34px 0px 14px;
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
}

.mm_menu_vert_body .mm_vert_container .active{
    color: #002864;
    text-shadow: #c79b00 1px 2px 0;
    background: url(i_720/mm_vert_cell.png) top left;
    background-position: 0 -2px;
    padding-top: 4px;
    height: 37px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

.main_menu_ver
{
    position: absolute;
    right: 70px;
    bottom: 0px;
    font-size: 12px  !important;
    color: #ccd6de  !important;
}
/* END MAIN MENU */
